body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size:51px;
}
.green-color{
    color:green;
}
.flexible-container{
    display: flex;
}
.half-width{
    width:50%;
    margin-top:50px;
    margin-left: 50px;
}
.half-width img{
    width:80%;
    
}
.link-button{
    padding: 10px 20px;
    text-decoration: none;
    background-image: linear-gradient(tomato, pink);
    color:white;
    border-radius: 100px;;
}
.Dream-Big{
    margin-top: 50px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.right-dream{
    margin-right: 100px;
}
.experiences-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
}
.Experiences-image{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
   
}
#full-stack-develop{
    border-left: 6px solid;
    border-image:linear-gradient( blue, cyan);
    border-image-slice:1;
}
#web-devvelop{
    border-left: 6px solid;
    border-image:linear-gradient( purple, tomato);
    border-image-slice:1;
}
footer p{
    text-align: center;
    margin-top: 100px;
}
.Experiences h1{
    margin-left: 20px;
}
p span{
    color:blue;
}